{% extends "mysite/home.html" %}
{% block head %}
<header class="w3-container w3-red w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">Contact Us</h1>
  <p>(deprecated, please comment on <a href="https://github.com/Tennis-Ball/Anchor-ai" style="color: blue">Github repo</a> or open a new issue)</p>
</header>
{% endblock head %}
{% block info %}
<div class="container">
  <form action="mailto:choi.mason@gmail.com" method="post" enctype="text/plain">

    <label for="name">Name (Optional)</label>
    <input type="text" id="name" name="Name" placeholder="Your Full Name..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="Message" placeholder="Questions, suggestions, comments, or anything else.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
{% endblock info %}
{% block bottom %}
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
{% endblock bottom %}